<nav>
    <a id="home-nav" href="{{ "/" | absolute_url }}"><img src="/assets/images/logo1.png" alt=""></a>
    <div class="normal-nav">
        <a {% if page.title == "About" %}id="active"{% endif %} href="{{ "/about" | absolute_url }}">
            <span class="material-symbols-outlined nav-icon">info</span>
            <span class="nav-text">About</span>
        </a>
        <a {% if page.title == "Members" %}id="active"{% endif %} href="{{ "/members" | absolute_url }}">
            <span class="material-symbols-outlined nav-icon">group</span> <span class="nav-text">Members</span>
        </a>
        <a {% if page.title == "Awards" %}id="active"{% endif %} href="{{ "/awards" | absolute_url }}">
            <span class="material-symbols-outlined nav-icon">military_tech</span>
            <span class="nav-text">Awards</span>
        </a>
        <a {% if page.title == "Projects" %}id="active"{% endif %} href="{{ "/projects" | absolute_url }}">
            <span class="material-symbols-outlined nav-icon">smart_toy</span>
            <span class="nav-text">Projects</span>
        </a>
        <a {% if page.title == "Updates" %}id="active"{% endif %} href="{{ "/updates" | absolute_url }}">
            <span class="material-symbols-outlined nav-icon">notifications</span>
            <span class="nav-text">Updates</span>
        </a>
    </div>
</nav>