.content {
    padding: 0;
}

#background-image {
    position: fixed;
    height: calc(100% - 66px);
    width: 100%;
    object-fit: cover;
    filter: brightness(60%) blur(6px) grayscale(10%);
}

.large-title {
    padding: 20px;
    width: calc(100% - 40px);
    text-align: center;
    position: fixed;
    top: calc(50% - 100px);
    transform: translateY(-50%);
}

.large-title .main-text {
    font-size: 15rem;
    margin: 0;
    padding: 0;
}

.large-title small {
    display: inline-block;
    font-size: 2rem;
    color: var(--blue);
    background-color: var(--dark);
    padding: 8px 20px;
    border: 2px solid var(--blue);
}

@media only screen and (max-width: 800px) {
    .large-title .main-text {
       font-size: 8rem;
    }
}

@media only screen and (max-height: 800px) {
    .large-title .main-text {
        font-size: 8rem;
     }
}