.large-title {
    width: 100%;
    text-align: center;
    position: fixed;
    top: calc(50% - 100px);
    transform: translateY(-50%);
}

.large-title h1 {
    font-size: 15rem;
}

.large-title small {
    font-size: 2rem;
    color: var(--blue);
}