ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.member-card {
    display: block;
    float: left;
    flex: 1;
    padding: 10px;
}

.member-card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}