/* https://coolors.co/d45050-007ea7-fafafa-30332e */
:root {
    --red: #d45050;
    --blue: #007ea7;
    --white: #fafafa;
    --dark: #30332e;
}

body {
    margin: 0;
    color: var(--white);
    background-color: var(--dark);
    font-family: 'Roboto Mono', monospace;
}

a {
    color: var(--blue);
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid var(--red);
    height: 64px;
}

.content {
    padding: 20px;
    margin: 0;
    height: calc(100vh - 106px);
    overflow: auto;
    padding-left: 10vw;
    top: 0;
}

.content p {
    max-width: 1000px;
}

.normal-nav {
    margin-left: 64px;
}

.normal-nav a {
    transition: 0.3s;
    height: 100%;
    display: block;
    width: calc(100% / 5);
    text-align: center;
    float: left;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white);
    line-height: 64px;
    background-color: var(--dark);
}

.normal-nav a:hover {
    transition: 0.3s;
    background-color: var(--red);
    color: var(--white);
}

#home-nav {
    display: block;
    float: left;
    position: fixed;
    width: 64px;
}

.normal-nav #active {
    background-color: var(--red);
}

.nav-text {
    display: inline;
}

.nav-icon {
    display: none;
}

@media only screen and (max-width: 800px) {
    .content {
       padding: 10px;
       height: calc(100vh - 86px);
    }

    .nav-text {
        display: none;
    }
    
    .nav-icon {
        display: inline;
    }
}