/* https://coolors.co/d45050-007ea7-fafafa-30332e */
:root {
    --red: #d45050;
    --blue: #007ea7;
    --white: #fafafa;
    --dark: #30332e;
}

body {
    color: var(--white);
    background-color: var(--dark);
}

a {
    color: var(--blue);
}