---
layout: default
---

<!--
    TODO:
    - Make a for loop to go generate for each year
 -->

<h1>Members</h1>

<h2>2022-2023</h2>

<h3>Leadership</h3>

<ul class="members-list">
    {% for member in site.data.members.members-2022-2023 %}
        {% if member.role == "leadership" %}
            {% include member-card.html img=member.img url=member.url first=member.first last=member.last %}
        {% endif %}
    {% endfor %}
</ul>

<h3>Veterans</h3>

<ul class="members-list">
    {% for member in site.data.members.members-2022-2023 %}
        {% if member.role == "veteran" %}
            {% include member-card.html img=member.img url=member.url first=member.first last=member.last %}
        {% endif %}
    {% endfor %}
</ul>

<h3>Freshmen</h3>

<ul class="members-list">
    {% for member in site.data.members.members-2022-2023 %}
        {% if member.role == "freshman" %}
            {% include member-card.html img=member.img url=member.url first=member.first last=member.last %}
        {% endif %}
    {% endfor %}
</ul>

<h2>2021-2022</h2>

<h3>Leadership</h3>

<h3>Veterans</h3>

<h3>Freshmen</h3>