---
layout: default
---

<h1>Members</h1>

<h2>2022-2023</h2>

<h3>Leadership</h3>

<ul class="members-list">
    {% include member-card.html  profile-url="" first-name="Emily" last-name="Ulvin" %}
    {% include member-card.html  profile-url="" first-name="Luna" last-name="Tewolde" %}
    {% include member-card.html  profile-url="" first-name="Raio" last-name="Chea" %}
    {% include member-card.html  profile-url="" first-name="Kien" last-name="Trung" %}
    {% include member-card.html  profile-url="" first-name="Kaylee" last-name="Miyamoto" %}
    {% include member-card.html  profile-url="" first-name="Ishika" last-name="Goundar" %}
    {% include member-card.html  profile-url="" first-name="Jakob" last-name="Nacanaynay" %}
</ul>

<h3>Veterans</h3>

<h3>Freshmen</h3>

<h2>2021-2022</h2>

<h3>Leadership</h3>

<h3>Veterans</h3>

<h3>Freshmen</h3>